<!doctype html>
<html>
    <head>
        <title>Training Laboratory</title>
    </head>
    <body>
        <h1>Train an agent that uses basic policy gradient methods to
        solve the SimpleContinuous environment</h1>

        <form action="/start_training" method="post">
            <table>
                <tr>
                    <th style="width: 50%">Configuration</th>
                    <th style="width: 50%">Value</th>
                </tr>
                {% for name, value in arguments.items() %}
                <tr>
                    <td style="text-align: right">{{name}}:</td>
                    <td>
                    <input type="text" name={{name}} value={{value}}>
                    </td>
                </tr>
                {% endfor %}
            </table>

            <button style="cursor: pointer;" type="Submit" value="Submit">Submit</button>
        </form>
    </body>
</html>